body{
    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

table,th,td{
    
    border: 1px solid black;
    border-collapse:collapse;
    text-align: left;
}